# Multi-Level DataFrame

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1, 2, 3, 1, 2, 3]
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [2]:
hier_index = pd.MultiIndex.from_tuples(list(zip(outside, inside)))
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [3]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])
df

             A         B
G1 1  0.770876 -1.254737
   2  1.312916  0.674779
   3 -0.444714  0.102973
G2 1  1.719051 -0.700970
   2  0.597724 -0.033000
   3 -0.533553  1.648171

#### Selecting a Value
Heres how you select a value:

In [4]:
df.loc['G1', 1]['B']

-1.254737404802009

Naming the unnamed indexs:

In [5]:
df.index.names = ['Groups', 'Numbers']
df

                       A         B
Groups Numbers
G1     1        0.770876 -1.254737
       2        1.312916  0.674779
       3       -0.444714  0.102973
G2     1        1.719051 -0.700970
       2        0.597724 -0.033000
       3       -0.533553  1.648171

#### Cross-section
Select by index level

In [6]:
df.xs(key=1,level=1)

               A         B
Groups
G1      0.770876 -1.254737
G2      1.719051 -0.700970

or index name:

In [7]:
df.xs(key=1,level='Numbers')

               A         B
Groups
G1      0.770876 -1.254737
G2      1.719051 -0.700970